<div class="hero" style="height:180px;">
	<div class="hero-inner">
		<div class="hero-copy">
			<h1>Projets et ressources en agriculture urbaine</h1>
		</div>
    <div class='rounded-toggle inline'>
      <%= link_to "Carte des projets", projects_path, :class => "active" %>
      <%= link_to "Ajouter un projet", new_project_path %>
      <a href='#active3'>Ajouter un collectif</a>
    </div>
	</div>
</div>



	<div class='col3 center'>
		<ul id='nav'>
      <li ><a id="filter-all"style="font-weight: bold;" href="#">Tous les projets</a></li>
		<% @categories.each do |category| %>	
			<li><a id="filter-<%= category.name.parameterize %>"style="font-weight: bold;" href="#"><%= category.name %></a>
				<ul>
				<% category.typologies.each do |typology| %>
					<li><a href="#"><%= typology.name %></a></li>
				<% end %>
				</ul>
			</li>
		<% end %>
		</ul>	
	</div>
	<div id="map" class='col6 custom-popup' style="height:500px;" ></div>
	<div id="project-description" class='col3' style="height:400px;"></div>



<!-- <div id="map" class='col12 pad4 contain fill-navy dark'>
  <div class='center quiet'>
  	<div style="position:absolute; top:0; bottom:0; width:100%;"></div>
  </div>  
  <div class='col4 pad2 fill-darken1 pin-left'>
    Left panel with content
  </div>
</div> -->

<script>
  // var geojson = 
  //   {
  //     "type": "FeatureCollection",
  //     "features": [
  //       {
  //         "type": "Feature",
  //         "geometry": {
  //           "type": "Point",
  //           "coordinates": [
  //             -1.553621000000021,
  //             47.218371
  //           ]
  //         },
  //         "properties": {
  //           "name": "Projet test 1",
  //           "description": "Lorem ipsum",
  //           "marker-color": "#00607d",
  //           "marker-symbol": "circle",
  //           "marker-size": "medium"
  //         }
  //       },
  //       {
  //         "type": "Feature",
  //         "geometry": {
  //           "type": "Point",
  //           "coordinates": [
  //             -1.3938170000000127,
  //             47.295493
  //           ]
  //         },
  //         "properties": {
  //           "name": "Projet test 2",
  //           "description": "Lorem ipsum",
  //           "marker-color": "#00607d",
  //           "marker-symbol": "circle",
  //           "marker-size": "medium"
  //         }
  //       }
  //     ]
  //   };

// var json = (function () {
//   var json = null;
//   $.ajax({
//       'async': false,
//       'global': false,
//       'url': 'projects.geojson',
//       'dataType': "json",
//       'success': function (data) {
//           json = data;
//       }
//   });
//   return json;
// })(); 

// Provide your access token
L.mapbox.accessToken = 'pk.eyJ1IjoicGxhbnRlLWV0LWNpdGUiLCJhIjoiV1NlYTVsbyJ9.RToSTFei8BJGSEkKk2EImw';
// Create a map in the div #map
var map = L.mapbox.map('map', 'plante-et-cite.2c752022')
	.setView([47.218, -1.553], 10);

var features = L.mapbox.featureLayer()
      .loadURL('projects.geojson')
      .addTo(map);

var all = document.getElementById('filter-all');
var	garden = document.getElementById('filter-jardins');
var	ressource = document.getElementById('filter-ressource-pour-l-au');
var	other = document.getElementById('filter-autre-projets-d-au');

all.onclick = function(e) {
    // The setFilter function takes a GeoJSON feature object
    // and returns true to show it or false to hide it.
    features.setFilter(function(f) {
        return true;
    });
    return false;
};

garden.onclick = function(e) {
    // The setFilter function takes a GeoJSON feature object
    // and returns true to show it or false to hide it.
    features.setFilter(function(f) {
        return f.properties['category'] === "Jardins";
    });
    return false;
};

ressource.onclick = function(e) {
    // The setFilter function takes a GeoJSON feature object
    // and returns true to show it or false to hide it.
    features.setFilter(function(f) {
        return f.properties['category'] === "Ressource pour l'AU";
    });
    return false;
};

other.onclick = function(e) {
    // The setFilter function takes a GeoJSON feature object
    // and returns true to show it or false to hide it.
    features.setFilter(function(f) {
        return f.properties['category'] === "Autres projets d'AU";
    });
    return false;
};

var description = document.getElementById('project-description');


// Listen for individual marker clicks.
features.on('click',function(e) {
    // Force the popup closed.
    e.layer.closePopup();

    var feature = e.layer.feature;
    var content = '<div><strong>' + feature.properties.title + '</strong>' +
                  '<p>' + feature.properties.description + '</p></div>';

    description.innerHTML = content;
});

// Clear the tooltip when map is clicked.
map.on('move', empty);

// Trigger empty contents when the script
// has loaded on the page.
empty();

function empty() {
  description.innerHTML = '<div><strong>Click a marker</strong></div>';
  }

</script>

<script>
		$(document).ready(function () {
		  $('#nav > li > a').click(function(){
		    if ($(this).attr('class') != 'active'){
		      $('#nav li ul').slideUp();
		      $(this).next().slideToggle();
		      $('#nav li a').removeClass('active');
		      $(this).addClass('active');
		    }
		  });
		});
</script>

<script>
// $(function() {
//     $('.tabs a').click(function() {
//         var tabgroup = $(this).parent();
//         var slidecontainer = tabgroup.next();
//         var tab = $(this).attr('href').split('#')[1];
//         $(this).addClass('active').siblings().removeClass('active');
//         var current = slidecontainer.attr('class').match(/active[0-9]+/);
//         if (current) slidecontainer.removeClass(current[0]);
//         slidecontainer.addClass(tab);
//         return false;
//     });
// });
</script>

<script>
// $(function() {
//     $('.rounded-toggle a').click(function() {
//         var tabgroup = $(this).parent();
//         var slidecontainer = $("#sliding-panel"); //changer ça!
//         var tab = $(this).attr('href').split('#')[1];
//         $(this).addClass('active').siblings().removeClass('active');
//         var current = slidecontainer.attr('class').match(/active[0-9]+/);
//         if (current) slidecontainer.removeClass(current[0]);
//         slidecontainer.addClass(tab);
//         return false;
//     });
// });
</script>