<!DOCTYPE html>
<html>
<head>
  <title>PortailAgricultureUrbaine</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.7/mapbox.css' rel='stylesheet' />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,700,400italic,600,600italic,700italic,800,800italic' rel='stylesheet' type='text/css'>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.7/mapbox.js'></script>
  <%= yield :javascript_head %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
